.hike-text {
  display: flex;
  flex-direction: column;
  /* margin-left: 5%; */
  color: white;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
}

.hike-details {
  display: flex;
  margin-left: 5%;
  width: 40vw;
  height: 80vh;
  /* background-color: rgba(0, 0, 0, 0.219); */
}

.map {
  display: block;
}

