.hike-details {
  display: flex;
  flex-direction:column;
  margin-left: 5%;
  /* width: 50vw;
  height: calc(100vh - 10%); */
  /* background-color: rgba(0, 0, 0, 0.219); */
  width: 95vw; 
  height: calc(100vh - 10%);
}

.hike-text {
  display: flex;
  flex-direction: column;
 
  color: white;
  font-size: 18px;
  font-family: 'Noto Serif', serif;
  width: 90vw;
  
}



.map {
  display: block;
}

@media only screen and (max-width: 500px) {
  
  

  /* .map-responsive iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
  } */

}