/* .map-responsive{
  overflow: hidden;
  padding-bottom: 56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
} */

.map-responsive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: 70%;
}

/* really small phone */
@media only screen and (max-width: 500px) {

  


  /* .map-responsive iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
  } */

}

@media only screen and (max-width: 375px) {

  .navbar-link {
    font-size: 12px;
    height: 2%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  /* .map-responsive iframe {
    height: 100%;
    width: 100%;

  } */

}

@media only screen and (max-width: 320px) {
  body {
    overflow: hidden;
  }

  .navbar-link {
    font-size: 12px;
    height: 2%;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .map-responsive iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

}