nav {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-links-right {
  flex-direction: row;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-link {
  padding: 5px 20px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #225165;
}

.hiking {
  color: black;
  font-size: 20px;
}

.leftnav {
  /* display: flex;
  justify-content: flex-start;
  align-items: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 88vw;
  margin-left: 5px;
}